<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @selo.tipo %>
</p>

<p>
  <b>Numero:</b>
  <%= @selo.numero %>
</p>


<%= link_to 'Edit', edit_selo_path(@selo) %> |
<%= link_to 'Back', selos_path %>
