<p id="notice"><%= notice %></p>

<p>
  <b>Placa:</b>
  <%= @veiculo.placa %>
</p>

<p>
  <b>Marca:</b>
  <%= @veiculo.marca %>
</p>

<p>
  <b>Modelo:</b>
  <%= @veiculo.modelo %>
</p>

<p>
  <b>Ano:</b>
  <%= @veiculo.ano %>
</p>

<p>
  <b>Pneu:</b>
  <%= @veiculo.pneu %>
</p>

<p>
  <b>Chassi:</b>
  <%= @veiculo.chassi %>
</p>

<p>
  <b>Renavam:</b>
  <%= @veiculo.renavam %>
</p>

<p>
  <b>Coeficiente:</b>
  <%= @veiculo.coeficiente %>
</p>

<p>
  <b>Redutor:</b>
  <%= @veiculo.redutor %>
</p>

<p>
  <b>Cliente:</b>
  <%= @veiculo.cliente %>
</p>


<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
