<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @cidade.descricao %>
</p>

<p>
  <b>Estado:</b>
  <%= @cidade.estado_descricao %>
</p>


<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>
